<div class="bg-primary">
   <div class="container d-flex justify-content-center">
     <ul class="nav secondary-nav">
       <li class="nav-item"> <a class="nav-link" routerLinkActive="'active'" routerLink="/profile">Account</a></li>
       <li class="nav-item"> <a class="nav-link"  routerLinkActive="'active'" routerLink="/profile/card-bank-account">Cards & Bank Accounts</a></li>
       <li class="nav-item"> <a class="nav-link"  routerLinkActive="'active'" routerLink="/profile/notifications">Notifications</a></li>
     </ul>
   </div>
 </div> 